<!-- <ion-header *ion-header >
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Inicio de Sesión</ion-title>
        
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding class="col col-center">
      <h1 text-center>My Travel Guide</h1>
      <div class="tabs tabs-item-hide">
        <ion-list>
          <ion-item>
            <ion-label stacked>Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label stacked>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          <hr>
          <div padding>
            <button ion-button full (click)="login(user)" [disabled]="!user.email || !user.password">Iniciar Sesión</button>
            <button ion-button full (click)="registro()">Registro</button>
            
          </div>
      
        </ion-list>
      </div>
    </ion-content>
     -->
     <ion-header>
        <ion-navbar>
          <ion-title>Login</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
        <form [formGroup]="loginForm"  novalidate>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address"
              [class.invalid]="!loginForm.controls.email.valid && blur">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
           loginForm.controls.email.dirty">
            <p>Please enter a valid email address.</p>
          </ion-item>
      
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Your password"
              [class.invalid]="!loginForm.controls.password.valid && blur">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
          && loginForm.controls.password.dirty">
            <p>Your password needs more than 6 characters.</p>
          </ion-item>
      
          <button ion-button block (click)="loginUser()" [disabled]="!loginForm.valid" >
            Log In
          </button>
        </form>
      
        <button ion-button block clear (click)="goToSignup()">
          Create a new account
        </button>
      
        <button ion-button block clear (click)="goToResetPassword()">
          I forgot my password :(
        </button>
      </ion-content>