<ion-header>
    
      <ion-navbar>
        <ion-title>Registro</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    <ion-content padding>
      <img src="assets/img/banner.jpg" />
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <ion-item>
          <ion-label stacked>Correo</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Correo"
            [class.invalid]="!signupForm.controls.email.valid && blur">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid
        && signupForm.controls.email.dirty">
          <p>Ingrese correo valido.</p>
        </ion-item>
    
        <ion-item>
          <ion-label stacked>Contraseña</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Contraseña"
            [class.invalid]="!signupForm.controls.password.valid && blur">
          </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Confirme contraseña</ion-label>
            <ion-input formControlName="confirmPassword" type="password" placeholder="Contraseña"
              [class.invalid]="!signupForm.controls.password.valid && blur">
            </ion-input>
          </ion-item>

        <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  &&
        signupForm.controls.password.dirty">
          <p>Minimo 6 caracteres.</p>
        </ion-item>
    
        <button ion-button block type="submit" [disabled]="!signupForm.valid">
          Crear cuenta
        </button>
      </form>
    </ion-content>